#diretorios ignorados
.metadata/**/*
.buildpath
.project
.DS_Store
.settings

#diretorios ignorados SeboEletronico
SeboEletronico/.metadata/**/*
SeboEletronico/.settings/**/*
SeboEletronico/.buildpath
SeboEletronico/.project

#diretorios ignorados RadarCriminal
RadarCriminal/.metadata/**/*
RadarCriminal/.settings/**/*
RadarCriminal/exceptions/*
RadarCriminal/files/**/*
RadarCriminal/front/**/*
RadarCriminal/libs/**/*
RadarCriminal/.buildpath
RadarCriminal/.project
